* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e2e2e2;
  font-family: 'Lato', sans-serif;
}

#app {
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}

.main-header {
  background: red;
}

.main-content {
  background: green;
  flex-grow: 1;
}

.main-footer {
  background: yellow;
}
