@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* style links */
a {
  color: #a1a6ad;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #000;
}

.link-pink,
a SUP {
  color: #d8338b;
}

a:hover SUP,
a:focus SUP,
a:active SUP{
  font-weight: 600;
}

/* style buttons */
.bg-links {
  background: #d8338b;
}

.btn {
  color: #fff;
  padding: 6px 12px;
  vertical-align: middle;
  border-radius:15px;
  text-align: center;
}

.btn:hover {
  color:#fff;
  box-shadow: 0px 3px 2px 1px rgba(0,0,0,.2);
}

/* style text */
.small-t {
  font-size: .8em;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-700 {
  font-weight: 700;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* serve solo per debug */
/* .prova {
  margin: 20px;
  padding: 20px;
} */
