@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* style links */
a {
  color: #a1a6ad;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #000;
}

.link-pink,
a sup {
  color: #d8338b;
}
/* style buttons */
.bg-links {
  background: #d8338b;
}

.btn {
  color: #fff;
  padding: 6px 18px;
  vertical-align: middle;
  border-radius:15px;
  text-align: center;
}

.btn:hover {
  color:#fff;
  box-shadow: 0px 3px 2px 1px rgba(0,0,0,.2);
}

/* style text */
.small-t {
  font-size: .8em;
}

.font-w-100 {
  font-weight: 100;
}
.font-w-400 {
  font-weight: 400;
}

.font-w-700 {
  font-weight: 700;
}
.upp-t {
  text-transform: uppercase;
}
/* spacing */
.padding-10 {
  padding: 10px;
}

.padding-10-0 {
  padding: 10px 0px 10px 0px;
}

.padding-20 {
  padding: 20px;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* menu and list */
.primary-menu li,
.secondary-menu li{
  display: inline-block;
  list-style: none;
  padding: 5px;
}

.dropdown-list li {
  display: block;
}

.secondary-menu li:last-child{
  margin-left: 20px;
}

/* dropdown */
.dropdown-li {
  position: relative;
}

.dropdown-menu {
  display: none; /* agisco con jQuery */
  position: absolute;
  width: 300px;
  height: auto;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border:1px solid #e2e2e2;
  text-align: left;
  box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);
}
