@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* style links */
a {
  color: #a1a6ad;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #000;
}

.link-pink,
a SUP {
  color: #d8338b;
}

a:hover SUP,
a:focus SUP,
a:active SUP{
  font-weight: 600;
}

/* style buttons */
.bg-links {
  background: #d8338b;
}

.btn {
  color: #fff;
  padding: 6px 18px;
  vertical-align: middle;
  border-radius:15px;
  text-align: center;
}

.btn:hover {
  color:#fff;
  box-shadow: 0px 3px 2px 1px rgba(0,0,0,.2);
}

/* style text */
.small-t {
  font-size: .8em;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-700 {
  font-weight: 700;
}
.upp-t {
  text-transform: uppercase;
}
/* spacing */
.padding-10 {
  padding: 10px;
}

.padding-10-0 {
  padding: 10px 0px 10px 0px;
}

.padding-20 {
  padding: 20px;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* menu and list */
.primary-menu li,
.secondary-menu li{
  display: inline-block;
  list-style: none;
  padding: 5px;
}

.secondary-menu li:last-child{
  margin-left: 20px;
}


/* serve solo per debug */
/* .prova {
  margin: 20px;
  padding: 20px;
} */
